/*
 * Globals
 */

@font-face {
  font-family: "DJKScript";
  src: url("../fonts/djkscript-webfont.woff") format("woff"), url("../fonts/djkscript-webfont.woff2") format("woff2"), url("../fonts/DJKScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Trade Winds', cursive;
}

/* Nav */

.navbar-nav.nav-justified {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar a {
  color: #f00;
  font-size: 2.5em;
}

/*   */

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #f00;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 6em;
  font-weight: 700;
}

#countdown p {
  font-size: 2em;
  display: inline;
}


/* Header */

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/rocks-bg.jpg) no-repeat;
  background-size: cover;
}

@media (max-device-width: 800px) {
  html {
    background: url(../img/rocks-bg.jpg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
